<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>アカウント新規登録画面</title>
</head>
<body>
	<h3></h3>
	<form th:action="@{UserEntry}" method="POST">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
		<table>
			<tr>
				<td><label for="username">ログインID:</label></td>
				<td><input size = "30" type="text" id="username" name="username"/></td>
			</tr>
			<tr>
				<td><label for="password">パスワード:</label></td>
				<td><input size = "30" type="password" id="password" name="password"/></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="right"><button type="submit">登録</button></td>
			</tr>
		</table>
	</form>
</body>
</html>